<div class="page" id="add-times">
   
    <h1 class="pull-left">Timesheet</h1>
    <div class="pull-right" >
        <span>Bem vindo {{user.username}}!</span>
        <a href="#"  ng-click="logout()">Logout</a>
    </div>
    <form ng-submit="save()">
        <table>
            <thead>
                <td>Data</td>
                <td>Entrada</td>
                <td>Saida</td>
                <td>Entrada</td>
                <td>Saida</td>
            </thead>
            <tbody>
                <tr class="line">

                    <td class="input-group">
                        <input class="form-control date" type="text" ng-model="time.date"  placeholder="dd/mm/aaaa" required />
                    </td>
                    <td class="input-group">
                        <input class="form-control hour" type="text" ng-model="time.entryAM" placeholder="hh:mm" />
                    </td>
                    <td class="input-group">
                        <input class="form-control hour" type="text" ng-model="time.outAM"   placeholder="hh:mm" />
                    </td>
                    <td class="input-group">
                        <input class="form-control hour" type="text" ng-model="time.entryPM" placeholder="hh:mm" />
                    </td>
                    <td class="input-group">
                        <input class="form-control hour" type="text" ng-model="time.outPM" placeholder="hh:mm" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <textarea class="form-control" ng-model="time.description" cols="50" rows="3"></textarea>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-default" value="Save">
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped">

            <tr ng-repeat="time in times">

                <td>{{time.day | date:"dd/MM/yyyy" }}</td>
                <td>{{time.entryAM}}</td>
                <td>{{time.outAM}}</td>
                <td>{{time.entryPM}}</td>
                <td>{{time.outPM}}</td>
                <td>{{time.description}}</td>
                <td>
                    <button  type="button" class="btn btn-default" ng-click="edit(time, $index)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delete(time, $index)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </td>

            </tr>

        </table>
    </form>
</div>
