<div class="page" id="add-times">
   
    <h1 class="pull-left">Timesheet</h1>
    <div class="pull-right" >
        <span>Bem vindo {{user.username}}!</span>
        <a href="#"  ng-click="logout()">Logout</a>
    </div>
    <form>
        <table>
            <thead>
                <td>Data</td>
                <td>Entrada</td>
                <td>Saida</td>
                <td>Entrada</td>
                <td>Saida</td>
            </thead>
            <tbody>
                <tr class="line">

                    <td>
                        <input class="date" type="text" ng-model="time.date" placeholder="dd/mm/aaaa" />
                    </td>
                    <td>
                        <input class="hour" type="text" ng-model="time.entryAM" placeholder="hh:mm" />
                    </td>
                    <td>
                        <input class="hour" type="text" ng-model="time.outAM"   placeholder="hh:mm" />
                    </td>
                    <td>
                        <input class="hour" type="text" ng-model="time.entryPM" placeholder="hh:mm" />
                    </td>
                    <td>
                        <input class="hour" type="text" ng-model="time.outPM"   placeholder="hh:mm" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <textarea class="form-control" ng-model="time.description" cols="50" rows="3"></textarea>
                    </td>
                    <td>
                        <button class="btn" ng-click="save(time)">Save</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table">

            <tr ng-repeat="time in times">

                <td>{{time.date}}</td>
                <td>{{time.entryAM}}</td>
                <td>{{time.outAM}}</td>
                <td>{{time.entryPM}}</td>
                <td>{{time.outPM}}</td>
                <td>{{time.description}}</td>
                <td>
                    <button class="btn" ng-click="delete(time, $index)">Delete</button>
                    <button class="btn" ng-click="edit(time, $index)">Edit</button>
                </td>

            </tr>

        </table>
    </form>
</div>
